.home-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.navbar {
  display: flex;
  background-color: #fff;
  width: 100vw;
  height: 72px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 112px;
}

.navbar img {
  width: 72px;
}

.navbar-user-container {
  display: flex;
  width: 260px;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #e4fde1;
}

.finance-card-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 48px 112px;
}

.finance-card {
  width: 280px;
  height: 140px;
  border-radius: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 122px;
  box-sizing: border-box;
}

.table-content-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 24px;
  height: 592px;
  padding: 24px;
}

.table-content-header {
  display: flex;
  width: 100%;
  flex-direction: row;

  justify-content: space-between;
}

table {
  width: 100%;
}
th {
  text-align: left;
  color: #7c7c7c;
}
th.right {
  text-align: right;
}

th.center {
  text-align: center;
}
td {
  color: #7c7c7c;
}
td.right {
  text-align: right;
}
tr {
  height: 32px;
}

td.center {
  text-align: center;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  align-items: flex-end;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(1, 4, 0, 0.2);
}

.modal-content {
  height: 100%;
  width: 480px;
  background-color: #f4f4f9;
  padding: 24px;
}
.modal-content-header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}
